div#back-top.hide
  a(href='#top')
    i.fa.fa-chevron-up

//-.footer.bottom-menu.bottom-menu-inverse
//-  .container
//-    .row
//-      .col-md-1.col-xs-2
//-        ul.bottom-links
//-          li: a(href='/')
//-                img(src="#{cdnServer}/images/moko365/mokoversity-logo_white.png", width="24")
//-      .col-md-6.hidden-xs.hidden-sm
//-        ul.bottom-links
//-          li: a(href='#top') Top
//-          li: a(href='/about') 關於我們
//-          li: a(href='/signup') 加入會員
//-          li: a(href='/contact') 連絡我們
//-          li: a(href='/support') 學習支援
//-          li: a(href='/startup/idea-apply') 創業想法
//-          //li: a.fui-facebook(href='http://www.facebook.com/mokoversity')
//-      .col-md-2.col-xs-6
//-        ul.bottom-links.hide#fb-like-2
//-          li: .fb-like(data-href='', data-src='//www.facebook.com/mokoversity', data-show-faces='false', //-data-send='false', data-layout='button_count')
//-      .col-md-3
//-        ul.bottom-links
//-          li
//-          | &#169; #{copyrightYear} #{copyrightName}

div#footer
  .container
    .row
      .col-md-4
        h3 連絡我們
        p 如果對Oranwind相關產品有興趣，請與我們聯繫。
        |                   
        ul.icons
          li
            i.fa.fa-envelope
            | benshiue@orangicetech.com          
      |                
      .col-md-4
        h3 創新與創業
        |                   
        p
          | Moko365 與 Taipei Angels（台安傑天使投資集團）共同投資成立 Mokoversity。在學習 Skills 的同時，也能建立創新與創業思維。Mokoversity 的願景，是打造一個新型態的創新與創業學校。Oranwind 即為Mokoversity 所輔導的公司。
        |                   
        ul.icons
          li
            i.fa.fa-share-alt
            a(href='https://www.mokoversity.com/') Mokoversity 開放創新學院
      .col-md-4
        h3 版權聲明
        .book
          ul.bookextra
            li
              Copyright (C) 2015 Oranwind Inc(橙米). All rights reserved. All trademarks are the property of their respective owners.
            li
              本網站由 Oranwind 製作與維護，內容由橙風股份有限公司版權所有，並保留所有權利，未經書面授權同意，請勿轉載、引用或複製內文，本公司授權讀者可自由轉貼頁面鍊結。
      |                
      

