extends ../layouts/default

block head
  title #{projectName}



block body
  section
  .container
    .row
       .col-md-8
          
          h1
            | travel online show
            
          div
           // iframe(src='//www.youtube.com/embed/DgylJ41UQBM?rel=0', width='630', height='354')
           iframe(src='//www.youtube.com/embed/W4hfgriEjOk', width='630', height='354')
          
          hr
          h3

  
        
       



          
    